.spotify {
  align-items: center;
  justify-content: center;
}

.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
  align-items: center;
  justify-content: center;
}
.now-playing__artist {
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
}
.now-playing__status {
  margin-bottom: 1em;
  align-items: center;
  justify-content: center;
}
.now-playing__img {
  float: left;
  margin-right: 10px;
  text-align: center;
  width: 45%;
  align-self: center;
  justify-content: center;
}
.now-playing__img img {
  max-width: 80vmin;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.now-playing__side {
  margin-left: 5%;
  width: 45%;
  align-items: center;
  justify-content: center;
}

.progress {
  border: 1px solid #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.progress__bar {
  background-color: #eee;
  height: 4px;
  align-items: center;
  justify-content: center;
}
